body {
    background-color: #c2e9bf;
}
p {
    font-size: 30px;
    color: #76769b
}
h1 {
    font-size: 70px;
    color: #4f4f98
}
#nav-link {
    padding: 5px;
    margin: 4px;
    border: 2px;
    background-color: #74916e7b;
    color: #3a5535;
    display: inline;
}